<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Emotion Logs</title>
</head>
<body>
    <table id="emotionTable" border="1">
        <tr>
            <th>Id</th>
            <th id="enjoymentTableLabel">Enjoyment</th>
            <th id="sadnessTableLabel">Sadness</th>
            <th id="angerTableLabel">Anger</th>
            <th id="contemptTableLabel">Contempt</th>
            <th id="fearTableLabel">Fear</th>
            <th id="disgustTableLabel">Disgust</th>
            <th id="surpriseTableLabel">Surprise</th>
            <th>Timestamp</th>
            <th>Triggers</th>
            <th>Edit/Delete</th>
        </tr>

        <% emotions.forEach(function(emotion) { %>
            <tr>
                <td ><%= emotion.emotion_id %></td>
                <td id="enjoymentTableValue"> <%= emotion.enjoyment %></td>
                <td id="sadnessTableValue"><%= emotion.sadness %></td>
                <td id="angerTableValue"><%= emotion.anger %></td>
                <td id="contemptTableValue"><%= emotion.contempt %></td>
                <td id="fearTableValue"><%= emotion.fear %></td>
                <td id="disgustTableValue"><%= emotion.disgust %></td>
                <td id="surpriseTableValue"><%= emotion.surprise %></td>
                <td><%= emotion.timestamp %></td>
                <td>
                    <span id="triggers_<%= emotion.emotion_id %>"><%= emotion.triggers %></span>
                    <input type="text" id="editTriggers_<%= emotion.emotion_id %>" style="display: none;" value="<%= emotion.triggers %>">
                </td>
                <td>
                    <!-- <button data-action="edit" data-emotion-id="<%= emotion.emotion_id %>">Edit</button>
                    <button data-action="save" data-emotion-id="<%= emotion.emotion_id %>" style="display: none;">Save</button>
                    <button onclick="saveTriggers('<%= emotion.emotion_id %>')" style="display: none;">Save</button> -->
                    <a href="/editEmotion/<%= emotion.emotion_id %>">Edit</a>
                </td>
            </tr>
        <% }); %>
    </table>
    <form action ="/auth/filterByDate" method="post">
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control" id="startDate" aria-describedby="startDate" name="startDate">
        </div>
        <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" class="form-control" id="endDate" name="endDate">
        </div>
        
        <button type="submit">Submit</button>
    </form>
    <div>
        </br>
    </div>
    <script src="/js/emotionLog.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>